@import "tailwindcss";
@import "./base.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

iconify-icon {
    display: inline-block;
    min-width: 1em; /* Matches text size */
    min-height: 1em;
}

/* 2. Once the icon content is loaded (SVG is injected), remove background */
iconify-icon svg {
    /* Iconify injects an <svg> inside. When that exists, these styles apply */
    display: block;
}

@layer components {
    .selected-type {
        @apply border-accent outline outline-1 outline-accent;
    }
}
