@theme inline {
    --color-primary: #0b0b0b;
    --color-secondary: #909fbd;
    --color-tertiary: #c5cede;
    --color-input-background: #f9f9fb;
    --color-background: #f3f3f5;
    --color-border: #dfe6f5;
    --color-accent: #3034fe;
    --color-red: #dd4242;
    --color-green: #38a897;
    --color-orange: #ff9572;
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background;
    }
}

.animate-cta {
    @apply transition-all duration-75 cursor-pointer;
}

.shadow-soft {
    box-shadow: 0 0 3px 1px #00000006;
}

* {
    font-family: "Stack Sans Text", sans-serif;
}
@custom-variant 2xl (@media (max-width: 1535px));
@custom-variant xl (@media (max-width: 1279px));
@custom-variant lg (@media (max-width: 1023px));
@custom-variant md (@media (max-width: 767px));
@custom-variant sm (@media (max-width: 639px));
@custom-variant xs (@media (max-width: 420px));

.fji {
    display: flex;
    justify-content: center;
    align-items: center;
}
