name: Build and Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Login docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build
        run: |

          SSH_KEY_PATH="$HOME/.ssh/ssh_key"
          ENV_PATH="$HOME/.env"
          SERVER_APPLICATION_PATH="~/trackin"
          SERVER_USER='${{ secrets.SERVER_USER }}'
          SERVER_IP='${{ secrets.SERVER_IP }}'

          mkdir -p "$(dirname $SSH_KEY_PATH)"

          echo '${{ secrets.SERVER_PRIVATE_KEY }}' > "$SSH_KEY_PATH"
          chmod 700 "$SSH_KEY_PATH"
          echo '${{ secrets.ENV }}' > "$ENV_PATH"

          # Prepare directory on the server
          ssh -o StrictHostKeyChecking=no -i "$SSH_KEY_PATH" "$SERVER_USER@$SERVER_IP" << EOF
            set -xe
            mkdir -p $SERVER_APPLICATION_PATH
            chown -R $SERVER_USER:$SERVER_USER $SERVER_APPLICATION_PATH
          EOF

          # Copy files from agent to the server
          # rsync -avz -e "ssh -o StrictHostKeyChecking=no -i $SSH_KEY_PATH" \
          #   "$GITHUB_WORKSPACE/" \
          #   "$SERVER_USER@$SERVER_IP:$SERVER_APPLICATION_PATH"




          # docker compose --env-file .env.prod -f compose.prod.yaml up --build -d
          # docker build -t ${{ secrets.DOCKER_USERNAME }}/petrousahatama-frontend .
          # docker push ${{ secrets.DOCKER_USERNAME }}/petrousahatama-frontend
